* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  align-content: last baseline;
  gap: 20px;
  width: 50vh;
  align-items: center;
  border: 1px solid black;
  padding: 30px;
}
