body {
  display: flex;
  justify-content: center;
}
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50vh;
  align-items: center;
  border: 1px solid black;
  padding: 30px;
}
