* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-size: 4rem;
  margin-bottom: 50px;
}

body {
  height: 100vh;
  margin: 50px;
}
main {
  display: flex;
  justify-content: space-around;
}
.container {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 1fr 1fr;
}
.productsList {
  width: 50vw;
}
.cesta {
  width: 25vw;
}
.direction {
  display: flex;
  flex-direction: column;
}
form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
img {
  width: 25%;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 70%;
}
.products {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin: 30px;
}
h2 {
  text-align: left;
}
h3 {
  font-size: 1rem;
  margin-left: 120px;
  margin-right: 120px;
  text-align: center;
}
.containerDirection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 'gra gre' 'gri gro' 'gru gry';
  gap: 20px;
}
.label-1 {
  grid-area: gra;
}
#direction {
  grid-area: gre;
}
.label-2 {
  grid-area: gri;
}
#city {
  grid-area: gro;
}
.label-3 {
  grid-area: gru;
}
#postalCode {
  grid-area: gry;
}
table {
  width: 100%;
  border-collapse: collapse;
}
tr:nth-child(even) {
  background-color: rgb(250, 212, 218);
}
tr:nth-child(odd) {
  background-color: rgb(235, 235, 174);
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
.button-js {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid gray;
  background-color: yellow;
}
